// Main font-family, font-size, color && hover-color
$fontFamily: "Indie Flower", cursive;
$fontSize: 30px;
$color: rgb(255, 250, 240);
$hoverColor: rgb(255, 255, 0);

// Make circle border-radius
$circle: 50%;

// Body gradient color
$bodyFirstColor: rgb(2, 0, 36);
$bodySecondColor: rgb(101, 101, 164);
$bodyThirdColor: rgb(0, 212, 255);

// Burger-menu 
$BurgerBackground: rgb(70, 130, 180);



