.footer {
  @include flex(row, center, space-between);
  @include size(100%, 50px);
  min-height: 50px;
  padding: 0 10%;
  color: $mainColor;
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.5);
  background: $background;
  user-select: none;

  @media (max-width: 774px) {
    padding: 0 10px;
  }
}