$fontSize: 40px;

.header {
  @include flex(row, center, center);
  @include size(100%, 70px);
  min-height: 70px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  user-select: none;
  background: $background;
  
  h1 {
    letter-spacing: 5px;
    text-transform: uppercase;  
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    color: $mainColor;
    font-size: $fontSize;

    @media (max-width: 774px) {
      font-size: ($fontSize * 0.75);
    }
  }
}

