.swiper-container {
  @include size(100%, 600px);
  padding: 15px 50px;

  @media (max-width: 774px) {
    padding: 15px 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: lavenderblush;
    outline: none;
  }
}

