.swiper-container {
  @include size(100%, 600px);
  padding: 15px 50px;

  @media (max-width: 774px) {
    padding: 15px 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: rgb(255, 240, 245);
    outline: none;
  }
}

