body {
  background: $bodyFirstColor;
  background: linear-gradient(90deg, $bodyFirstColor 0%, $bodySecondColor 0%, $bodyThirdColor 100%);
  font-family: $fontFamily;
  font-size: $fontSize;
  user-select: none;
}
