html {
  font-size: 20px;
}

body {
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1;
  background-color: #201f1f;
  background-size: cover;
  background-position: center;
  transition: background-image 0.7s;
}