.main-page,
.category-page,
.statistics-page {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.page_active {
  display: flex;
}

.statistics-page {
  justify-content: flex-start;
  height: 650px;
  overflow: auto;
}