.table-wrapper {
  justify-content: flex-start;
  height: 650px;
  margin-bottom: 30px;
  overflow: auto;
}

.statistics {
  width: 100%;
  border-collapse: collapse;
}

tr:first-child {
  background: rgb(95, 158, 160);
}

tr {
  height: 50px;
}

.row-word {
  background: lighten(rgb(95, 158, 160), 20%);
  color: lighten(black, 10%);
}

th {
  border: 1px solid black;
  width: (100% / 7);

  &:hover {
    cursor: pointer;
    background: rgb(0, 139, 139);
  }
}

td {
  border: 1px solid black;
  text-align: center;
}