.burger-menu__navigation {
  @include flex(row);
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 25;
  margin: 0;
  @include size(300px, 100vh); 
  background: $BurgerBackground;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  transition: left 0.7s;

  &_active {
    position: fixed;
    left: 0;
  }

  nav {
    @include flex(column);
    margin: 120px auto 0;
    font-size: $fontSize;

    a {
      font-family: $fontFamily;
      margin-bottom: 5%;
      color: $color;
    
      &:hover {
        color: $hoverColor;
        text-decoration: underline;
      }
    }
  }
}