.main-info-container {
  @include flex(row, center, space-between);
  width: 100%;
  margin: auto;

  .weather-info {
    width: 55%;
    text-align: center;
  }

  .location-info {
    width: 30%;
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

@media (max-width: 1099px) {
  .main-info-container  {
    flex-direction: column;

    .weather-info {
      width: 90%;
    } 
    .location-info {
      width: 70%;
    }
  }
}

@media (max-width: 499px) {
  .main-info-container {
    .location-info {
      width: 100%;
    }    
  }
}