@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
}

body {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #6565a4 0%, #00d4ff 100%);
}

.burger-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.burger-menu__btn {
  width: 60px;
  height: 60px;
  display: block;
  z-index: 30;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}
.burger-menu__btn .btn__line {
  display: block;
  position: relative;
  width: 90%;
  height: 5px;
  margin: 10px auto;
  background-color: #00d4ff;
  border-radius: 10px;
  transition: all 0.3s 0.5s;
}
.burger-menu__btn .line_middle {
  transition: all 0.3s 0.3s;
}
.burger-menu__btn .line_bottom {
  transition: all 0.3s 0.1s;
}
.burger-menu__btn:hover {
  transform: scale(1.1);
}
.burger-menu__btn_active {
  position: fixed;
  left: 120px;
}
.burger-menu__btn_active .line_top {
  width: 90%;
  height: 90%;
  margin: 5px auto;
  transition: all 0.3s 0.1s;
}
.burger-menu__btn_active .line_middle {
  background-color: steelblue;
  transform: translateY(-40px) rotateZ(45deg);
  transition: all 0.3s 0.3s;
}
.burger-menu__btn_active .line_bottom {
  background-color: steelblue;
  transform: translateY(-55px) rotateZ(-45deg);
  transition: all 0.3s 0.5s;
}

.burger-menu__navigation {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 25;
  margin: 0;
  width: 300px;
  height: 100vh;
  background: steelblue;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  transition: left 0.7s;
}
.burger-menu__navigation_active {
  position: fixed;
  left: 0;
}
.burger-menu__navigation nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 120px auto;
  font-size: 30px;
}
.burger-menu__navigation nav a {
  font-family: "Indie Flower", cursive;
  margin-bottom: 5%;
  color: floralwhite;
}
.burger-menu__navigation nav a:hover {
  color: yellow;
  text-decoration: underline;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 30px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  transition: all 0.4s;
}
.main-card .card__image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.main-card .card__image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}
.main-card .card__title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-weight: bold;
  margin-top: -50px;
  width: 100%;
  height: 50px;
  color: floralwhite;
  background: linear-gradient(45deg, black, transparent);
}
.main-card .card__title p {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  letter-spacing: 2.5px;
}
.main-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
.main-card:hover .card__title {
  color: yellow;
}

.switch-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.switch-btn #checkbox {
  display: none;
}

#checkbox + label {
  display: inline-block;
  position: relative;
  padding: 7px;
  width: 150px;
  height: 40px;
  background: linear-gradient(to right, #6565a4 0, #fc8b34 45%, #7fd03e 55%, steelblue 100%) 0 0;
  background-size: 350px 100%;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 70px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#checkbox + label::before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  z-index: 5;
  left: 3.5px;
  top: 3.5px;
  border-radius: 50%;
  background: radial-gradient(white, #2f8fd8);
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
}
#checkbox + label::after {
  content: "Train";
  position: absolute;
  left: 75px;
  top: 8px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
  color: powderblue;
}
#checkbox + label:active:before {
  transform: scale(0.95);
}

#checkbox:checked + label {
  background-position-x: -200px;
}
#checkbox:checked + label:before {
  content: "";
  left: 113.5px;
}
#checkbox:checked + label::after {
  content: "Play";
  left: 16.5px;
}

.wrapper {
  width: 88vw;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 40px 0;
}

/*# sourceMappingURL=style.css.map */
