.search-block {
  .search__button {
    @include size(50px, 100%);
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: url('../assets/img/search.png') #a9a9a9 center no-repeat;
    background-size: 30px;
    transition: background 0.3s;

    &:hover {
      cursor: pointer;
      background-color: #708090;
    }
  }
}