.github-link {
  position: relative;
  color: $mainColor;

  &::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -35px;
    @include size(30px, 30px);
    background: url(/src/assets/img/github-logo.svg);
    background-size: cover;
  }
}