$mainWidth: 50px;

.keyboard__key {
  display: inline-flex;
  justify-content: center;
  position: relative;
  @include size($mainWidth, 45px);
  margin: 5px;
  padding: 0;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  transition: all 0.2s;

  .key_hover,
  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  &.key_pressed {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.key_xs-wide {
  width: ($mainWidth * 1.2);
}

.key_small-wide {
  width: ($mainWidth * 1.8);
}

.key_medium-wide {
  width: ($mainWidth * 2.2);
}

.key_large-wide {
  width: ($mainWidth * 2.4);
}

.key_xl-wide {
  width: ($mainWidth * 2.8);
}

.key_xxl-wide {
  width: ($mainWidth * 7.2);
}

.key_language {
  background: rgba(32, 178, 170, 0.5);  

  &:hover {
    background: rgba(32, 178, 170, 0.35);    
  }
}

.key_activated::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  @include size (8px, 8px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.key_active::after {
  background: rgb(8, 255, 0);
} 

.key_dark {
  background: rgba(0, 0, 0, 0.25);
}

