.search__field {
  position: relative;
  @include size (calc(95% - 90px), 45px);
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  
  &:focus {
    border: 2.5px dotted;
    border-color: rgb(0, 191, 255);
  }
}

.field__clean {
  position: relative;
  top: 0;
  left: -65px;
  user-select: none;
  color: rgb(128, 128, 128);

  &:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
}

.keyboard-btn {
  @include size(36px, 30px);
  position: relative;
  left: -80px;
  background: url('../assets/img/keyboard.png');

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 909px) {
    display: none;
  }
}