.search__field {
  @include size (100%, 45px);
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  
  &:focus {
    border: 2.5px dotted;
    border-color: rgb(0, 191, 255);
  }
}

.field__clean {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  line-height: 1;
  user-select: none;
  color: rgb(128, 128, 128);

  &:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
}

.field__keyboard-btn {
  @include size(36px, 30px);
  position: absolute;
  top: calc(50% - 15px);
  right: 90px;
  background: url('../assets/img/keyboard.png');

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 909px) {
    display: none;
  }
}

.field__speech-recognition {
  position: absolute;
  top: calc(50% - 20px);
  right: 40px;
  @include size(40px, 40px);
  background: url(../assets/img/voice.jpg);
  background-size: cover;

  &:hover {
    cursor: pointer;
  }

  &.active {
    &::after {
      content: '';
      @include size(8px, 8px);
      display: block;
      border-radius: 50%;
      background: red;
    }
  }
}